<ion-content padding>
<ion-grid>
	<ion-row>
		<ion-col text-center>
			<img src="http://via.placeholder.com/150x150" alt="">
		</ion-col>
	</ion-row>
	<ion-row>
		<ion-col text-center>
			<ion-item>
				<ion-input type="text" placeholder="Email" [(ngModel)]="email"></ion-input>
			</ion-item>
		</ion-col>
	</ion-row>
	<ion-row>
		<ion-col text-center>
			<ion-item>
				<ion-input type="password" placeholder="Password" [(ngModel)]="password"></ion-input>
			</ion-item>
		</ion-col>
	</ion-row>
	<ion-row>
		<ion-col col-3>
			<button ion-button color="danger" (click)="reset()">Reset</button>
		</ion-col>
		<ion-col>
			<button ion-button color="primary" block (click)="login()">Login</button>
		</ion-col>
	</ion-row>
	<ion-row>
		<ion-col>
			<button ion-button (click)="logout()">Logout</button>
		</ion-col>
	</ion-row>
</ion-grid>
</ion-content>