<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Home</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <test></test>
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-list>
                    <ion-item>
                        <ion-input placeholder="First Name" type="text" [(ngModel)]="first_name"></ion-input>
                    </ion-item>
                    <button ion-button (click)="login()" color="submit_button">Submit</button>
                </ion-list>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                {{total | number:'.2'}}
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-input placeholder="First Number" type="number" [(ngModel)]="first_number"></ion-input>
            </ion-col>
            <ion-col>
                <ion-input placeholder="Second Number" type="number" [(ngModel)]="second_number"></ion-input>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <button ion-button color="danger" (click)="calculate()">Calculate</button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <button ion-button (click)="takePicture()">Take Picture</button>
                <img src="{{image_taken}}" alt="">
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-list>
        <ion-item *ngFor="let item of the_list">
            {{item.name}} <br>
            {{item.email}}
        </ion-item>
    </ion-list>

    <button ion-button icon-only (click)="gotoModal()">
        <ion-icon name="add"></ion-icon>
    </button>
    <ion-list>
        <ion-item-sliding>
            <ion-item>Test
                <button ion-button item-end color="danger">High</button>
            </ion-item>
            <ion-item-options side="right">
                <button ion-button icon-only color="danger">
                    <ion-icon name="trash"></ion-icon>
                </button>
                <button ion-button icon-only color="secondary">
                    <ion-icon name="exit"></ion-icon>
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
</ion-content>