<!--
  Generated template for the SecondPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>second</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<ion-grid>
		<ion-row>
			<ion-col class="first_name" text-center>
				{{first_name | hello}}
				<div *ngIf="check()"><p>Your saved number is {{saved_number}}</p></div>
			</ion-col>
			<ion-col text-center>
				<button ion-button small (click)="deleteTotal()">Delete Saved Number</button>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
